@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #121212;
  --color-primary: #4f46e5;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  font-family: system-ui, -apple-system, sans-serif;
}
